<div class="container mt-10">
  <div class="form-wrapper">
    <h2 class="text-center text-white text-xl mb-10">Bienvenue !</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }, html: { class: 'form'}) do |f| %>
      <%= f.error_notification %>

        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email",
                                  class: "input input-bordered input-primary w-full" },
                    wrapper_html: { class: "input-wrapper" } %>

        <%= f.input :password,
                    required: true,
                    label: "Mot de passe",
                    input_html: { autocomplete: "current-password",
                                  class: "input input-bordered input-primary w-full" },
                    wrapper_html: { class: "input-wrapper" } %>

      <div class="form-actions">
        <%= f.button :submit, "Se connecter", class: 'btn-primary'%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
